In [1]:
import pandas as pd
import numpy as np

In [3]:
dest = pd.read_csv("dest.txt", sep='\t')

In [4]:
dest.head()

,srch_destination_id,srch_destination_name,srch_destination_type_id,srch_destination_latitude,srch_destination_longitude,popular_activity_adventure,popular_attraction_aquarium,popular_historical_archaeology,popular_architecture_architecture,popular_cultural_art,...,popular_naturalfeature_volcanoes,popular_activity_walking,popular_activity_waterskiing,popular_naturalfeature_waterfalls,popular_attraction_waterparks,popular_activity_whalewatching,popular_naturalfeature_wildlife,popular_activity_windsurfing,popular_attraction_wineries,popular_attraction_zoo
0,7997,"Annaba, Algeria",557,36.913930,7.741176,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,...,-2.181690,-2.181690,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690
1,8090,"Al Ain, United Arab Emirates",557,24.231660,55.740160,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,...,-2.186008,-2.191569,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.057548
2,8121,"Anapa, Russia",557,44.942840,37.292920,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,...,-2.177409,-2.161081,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
3,8152,"Aarhus (and vicinity), Denmark",464,56.153090,10.205722,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,...,-2.194008,-2.163242,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.188037
4,8369,"Abilene (and vicinity), Texas, United States o...",464,32.412406,-99.764760,-2.201047,-2.201047,-2.201047,-2.150858,-2.150858,...,-2.201047,-2.106235,-2.201047,-2.201047,-2.201047,-2.201047,-2.201047,-2.201047,-2.201047,-2.144392